.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e9eaea;
  padding: 1.3rem;
  font-size: 18px;
  font-weight: 500;

  i {
    margin-right: 1rem;
  }
}

.explorer {
  text-align: center;
  background-color: #f6f6f6;
  padding: 2rem;
  h2 {
    font-size: 28px;
    font-weight: 700;
    margin: 1rem 0;
  }
  p {
    font-weight: 300;
    margin-top: 1rem;
    margin-bottom: 3rem;
  }
  button {
    margin: 0 auto;
    padding-bottom: 2rem;
    a {
      @include button();
    }
  }
}

.steps {
  padding-bottom: 1rem;
  max-width: 1440px;
  margin: 0 auto;
  h3 {
    margin-top: 2rem;
    padding: 1rem;
    font-size: 22px;
    font-weight: 700;
    counter-reset: section;
  }

  .step {
    @media (min-width: $desktop) {
      display: flex;
    }
    &__item {
      display: flex;
      align-items: center;
      position: relative;
      background-color: #f6f6f6;
      padding: 1.5rem;
      margin: 1rem 1.5rem;
      box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
      border-radius: 1.25rem;
      font-weight: 500;
      @media (min-width: 992px) {
        flex: 1;
      }
      i {
        margin-right: 1.5rem;
        color: #7e7e7e;
      }
      &.active {
        background-color: rgba(109, 18, 219, 0.1);

        i {
          color: $primary-color;
        }
      }
      &::before {
        counter-increment: section 1;
        content: counter(section);
        background: $primary-color;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 1.2rem;
        width: 1.2rem;
        border-radius: 50%;
        color: #fff;
        position: absolute;
        left: -10px;
        font-size: 12px;
      }
    }
  }
}

.restaurants {
  background-color: #f6f6f6;
  padding: 2.3rem 1rem;
  &__wrapper {
    max-width: 1440px;
    margin: 0 auto;
    h3 {
      padding: 1rem 1rem 0.5rem 0;
      font-size: 22px;
      font-weight: 700;
      counter-reset: section;
    }
    &--grid {
      .restaurant {
        background-color: #fff;
        border-radius: 1rem;
        margin: 1rem 0;
        position: relative;
        @media (min-width: $desktop) {
          margin: 0;
        }
        img {
          border-top-left-radius: 1rem;
          border-top-right-radius: 1rem;
          width: 100%;
          height: 200px;
          object-fit: cover;
        }
        .new {
          position: absolute;
          top: 20px;
          right: 20px;
          padding: 0.5rem 0.8rem;
          border-radius: 5px;
          background-color: $tertiary-color;
          color: darken($tertiary-color, $amount: 40%);
        }
        .description {
          display: flex;
          justify-content: space-between;
          padding: 1rem 1.5rem;
          p {
            display: flex;
            flex-direction: column;
            font-weight: 300;
            line-height: 1.5rem;
            span {
              font-weight: 500;
            }
          }
          i {
            display: flex;
            align-items: center;
          }
        }
      }
      @media (min-width: $desktop) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
        margin: 0;
      }
    }
  }
}
