.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e9eaea;
  padding: 1.3rem;
  font-size: 18px;
  font-weight: 500;

  i {
    margin-right: 1rem;
  }
}

.explorer {
  text-align: center;
  background-color: #f6f6f6;
  padding: 2rem;
  h2 {
    font-size: 28px;
    font-weight: 700;
    margin: 1rem 0;
  }
  p {
    font-weight: 300;
    margin-top: 1rem;
    margin-bottom: 3rem;
  }
  button {
    margin: 0 auto;
    padding-bottom: 2rem;
    a {
      @include button(primary);
    }
  }
}

.steps {
  h3 {
    margin-top: 2rem;
    padding: 1rem;
  }

  .step {
    padding: 1.5rem;
    margin: 1rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
    border-radius: 1.25rem;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    position: relative;
    i {
      margin-right: 1.5rem;
    }
  }
}
