.hero__image img {
  width: 100%;
  height: 400px;
  z-index: -1;
  background: no-repeat center;
  object-fit: cover;
}

.menus {
  width: 100%;
  height: auto;
  background-color: #f6f6f6;
  border-radius: 2rem 2rem 0 0;
  overflow: hidden;
  padding: 1rem;

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 1rem;
    font-family: $title-font;
    font-size: 25px;
  }
  &__starter {
    h4 {
      text-transform: uppercase;
    }
    &--choices {
      position: relative;
      background-color: #fff;
      padding: 1rem;
      margin: 1rem 1.5rem;
      box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
      border-radius: 1.25rem;
      line-height: 2rem;

      h5 {
        margin: 0;
        font-weight: 500;
        font-size: 20px;
      }

      .price {
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
          font-weight: 500;
        }
      }
    }
  }
  &__order {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
  }
  button {
    margin: 0 auto;
    padding-bottom: 2rem;
    a {
      @include button(primary);
      padding: 1.35rem 4.5rem;
    }
  }
}
