.hero {
  &__image {
    max-width: 100%;
    max-height: 500px;
    width: 100%;
    object-fit: cover;
  }
}

.menus-section {
  max-width: 1440px;
  margin: -4rem auto 0 auto;
  position: relative;
}

.menus {
  width: 100%;
  height: auto;
  background-color: #f6f6f6;
  border-radius: 2rem 2rem 0 0;
  overflow: hidden;
  padding: 1rem;

  &__title {
    @extend %flex-between;
    margin: 1rem 1rem;
    font-family: $title-font;
    font-size: 25px;
  }
  &__order {
    @extend %flex-center;
    margin: 0 auto;
    padding: 3rem 0;
    a {
      @include button();
      padding: 1.15rem 4.5rem;
    }
  }
}

.menu-wrapper {
  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }
}

.menu {
  padding-bottom: 1rem;

  &__title {
    text-transform: uppercase;
    position: relative;
    padding-bottom: 0.5rem;

    &::after {
      content: "";
      width: 55px;
      height: 5px;
      background-color: $tertiary-color;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
  &__choices {
    position: relative;
    background-color: #fff;
    padding: 1rem;
    margin: 1rem 0;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
    border-radius: 1.25rem;
  }

  &__food {
    margin: 0;
    font-weight: 500;
    font-size: 18px;
  }

  &__price {
    @extend %flex-between;
    padding-top: 0.5rem;

    span {
      font-weight: 500;
    }
  }
}
