@import "scss/global/reset";
@import "scss/global/base";
@import "scss/global/mixins";
@import "scss/global/placeholder";
@import "scss/pages/home";
@import "scss/pages/restaurants";
@import "scss/global/animations";
