@use "sass:math";

// Loader Animation
@keyframes loading {
  100% {
    inset: 0;
  }
}

@keyframes loading-hide {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  10% {
    visibility: visible;
    opacity: 1;
  }
  95% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

// Like Animation
.heart {
  position: relative;
  width: 1.4rem;
  stroke-width: 50;
  stroke: black;
  fill: white;
  overflow: visible;
  cursor: pointer;

  &__background {
    position: relative;
    overflow: visible;
    &:hover {
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }
  }
  &__main {
    position: absolute;
    inset: 0;
    fill: url(#gradient);
    stroke: url(#gradient);
    overflow: visible;
  }
}

// Menu Animation
@keyframes menu-animation {
  0% {
    transform: translatey(20px);
    opacity: 0%;
  }
  100% {
    transform: translatey(0px);
    opacity: 100%;
  }
}

@for $i from 0 through 9 {
  .data-#{$i} {
    animation-delay: #{math.div($i, 10)}s;
  }
}

// Check Rotation Animation
@keyframes rotation-icon {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
