@use "sass:math";

// Loader Animation
@keyframes loading {
  100% {
    inset: 0;
  }
}

@keyframes loading-hide {
  0% {
    visibility: hidden;
  }
  10% {
    visibility: visible;
  }
  95% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

// Menu Animation
@keyframes menu-animation {
  0% {
    transform: translatey(20px);
    opacity: 0%;
  }
  100% {
    transform: translatey(0px);
    opacity: 100%;
  }
}

@for $i from 0 through 9 {
  .data-#{$i} {
    animation-delay: #{math.div($i, 10)}s;
  }
}

// Check Rotation Animation
@keyframes rotation-icon {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
