@mixin button($padding) {
  color: white;
  border-radius: 6rem;
  background: rgb(255, 121, 218);
  background-image: linear-gradient(
    0deg,
    $primary-color 0%,
    $secondary-color 100%
  );
  font-weight: 500;
  font-size: 18px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  padding: $padding;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    filter: brightness(1.05);
  }
}
