%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

%flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
