// Like animation
.heart-icon {
  fill: transparent;
  stroke: black;
  stroke-width: 50;
  cursor: pointer;
  position: relative;
  &:hover {
    stroke: url(#gradient);
  }

  svg {
    overflow: visible;
    width: 1.4rem;
  }

  path {
    transform-origin: center;
  }

  .heart-background {
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    stroke: none;
  }

  .heart-main:hover path {
    animation: heart-animation 2s ease-in-out forwards;
  }
}

@keyframes heart-animation {
  0% {
    fill: transparent;
    transform: scale(1);
    fill: url(#gradient);
  }

  20% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(1);
  }

  100% {
    fill: url(#gradient);
  }
}

// Menu animation
@keyframes menu-animation {
  0% {
    transform: translatey(20px);
    opacity: 0%;
  }
  100% {
    transform: translatey(0px);
    opacity: 100%;
  }
}

@for $i from 0 through 9 {
  .data-#{$i} {
    animation-delay: #{$i/10}s;
  }
}
