@use "sass:math";

// Loader Animation
@keyframes loading {
  100% {
    inset: 0;
  }
}

@keyframes loading-hide {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  10% {
    visibility: visible;
    opacity: 1;
  }
  95% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

// Like Animation
.heart-icon {
  position: relative;
  fill: transparent;
  stroke: black;
  stroke-width: 50;
  cursor: pointer;
  &:hover {
    stroke: url(#gradient);
  }

  svg {
    width: 1.4rem;
    overflow: visible;
  }

  path {
    transform-origin: center;
  }

  .heart-background {
    position: absolute;
    inset: 0;
    stroke: none;
    z-index: -1;
  }

  .heart-main:hover path {
    animation: heart-animation 2s ease-in-out forwards;
  }
}

@keyframes heart-animation {
  0% {
    fill: url(#gradient);
  }

  20% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(1);
  }

  100% {
    fill: url(#gradient);
  }
}

// Menu Animation
@keyframes menu-animation {
  0% {
    transform: translatey(20px);
    opacity: 0%;
  }
  100% {
    transform: translatey(0px);
    opacity: 100%;
  }
}

@for $i from 0 through 9 {
  .data-#{$i} {
    animation-delay: #{math.div($i, 10)}s;
  }
}

// Check Rotation Animation
@keyframes rotation-icon {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
