// Like animation
.heart-icon {
  fill: transparent;
  stroke: black;
  stroke-width: 50;
  cursor: pointer;
  position: relative;
  &:hover {
    stroke: url(#gradient);
  }

  svg {
    overflow: visible;
    width: 1.4rem;
  }

  path {
    transform-origin: center;
  }

  .heart-background {
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    stroke: none;
  }

  .heart-main:hover path {
    animation: heart-animation 2s ease-in-out forwards;
  }
}

@keyframes heart-animation {
  0% {
    fill: transparent;
    transform: scale(1);
    fill: url(#gradient);
  }

  20% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(1);
  }

  100% {
    fill: url(#gradient);
  }
}

// Menu animation
@keyframes menu-animation {
  0% {
    transform: translatey(20px);
    opacity: 0%;
  }
  100% {
    transform: translatey(0px);
    opacity: 100%;
  }
}

@for $i from 0 through 9 {
  .data-#{$i} {
    animation-delay: #{$i/10}s;
  }
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  backdrop-filter: blur(5px);
  overflow: hidden;
  opacity: 0;
  animation: Slide_TheEnd 2s linear;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 22px;
  border-radius: 20px;
  color: $secondary-color;
  border: 2px solid;
  position: relative;
}
.loader::before {
  content: "";
  position: absolute;
  margin: 2px;
  inset: 0 100% 0 0;
  border-radius: inherit;
  background: $primary-color;
  animation: p6 2s infinite;
}
@keyframes p6 {
  100% {
    inset: 0;
  }
}

@keyframes Slide_TheEnd {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
