@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$body-font: "Roboto", sans-serif;
$title-font: "Shrikhand", cursive;
$desktop: 992px;

html {
  scroll-behavior: smooth;
}
body {
  font-family: $body-font;
}

h1 {
  font-family: $title-font;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1;

  &__title {
    padding: 1rem;
    font-size: 2rem;
  }
  &__return {
    position: absolute;
    left: 2.5rem;
  }
}

footer {
  background-color: #353436;
  color: #fff;
  width: 100%;
  padding: 0.8rem 1.5rem 2rem 1.5rem;

  @media (min-width: $desktop) {
    padding: 2rem;
  }
}

.footer {
  &__logo {
    font-family: $title-font;
    padding: 0.5rem 0;
  }
  &__link {
    padding: 0.3rem 0;
    font-size: 15px;
  }
  &__icon {
    width: 1rem;
    margin-right: 0.5rem;
  }
  @media (min-width: $desktop) {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__links {
      display: flex;
    }
    &__link {
      margin: 0 1rem;
    }
  }
}
