@mixin button() {
  border: 0;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: white;
  background: rgb(255, 121, 218);
  background-image: linear-gradient(
    0deg,
    $primary-color 0%,
    $secondary-color 100%
  );
  cursor: pointer;
  transition-duration: 0.3s;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);

  &:hover {
    filter: brightness(1.05);
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
  }
}
