.loader {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  backdrop-filter: blur(5px);
  visibility: hidden;
  opacity: 0;
  animation: loading-hide 2s linear;

  &__progress {
    position: relative;
    inset: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 22px;
    border-radius: 20px;
    color: $tertiary-color;
    border: 2px solid;
  }
  &__progress::before {
    content: "";
    position: absolute;
    inset: 0 100% 0 0;
    border-radius: inherit;
    background: linear-gradient(0deg, $primary-color 0%, $secondary-color 100%);
    margin: 2px;
    animation: loading 2s;
  }
}

.location {
  @extend %flex-center;
  background-color: #e9eaea;
  font-size: 18px;
  font-weight: 500;
  padding: 1.5rem;

  &__icon {
    margin-right: 1rem;
  }
}

.explorer {
  background-color: #f6f6f6;
  text-align: center;
  padding: 2rem;
  &__title {
    font-size: 28px;
    font-weight: 700;
    margin: 1rem 0;
  }
  &__text {
    font-weight: 300;
    margin: 1rem 0 3rem;
  }
  &__btn {
    margin: 0 auto;
    padding-bottom: 2rem;
    &--link {
      @include button(0.75rem 1.5rem);
    }
  }
}

.tutorial {
  max-width: 1440px;
  margin: 0 auto;
  padding-bottom: 1rem;
  &__title {
    font-size: 22px;
    font-weight: 700;
    margin-top: 2rem;
    padding: 1rem;
    counter-reset: section;
  }
}

.items {
  @media (min-width: $desktop) {
    display: flex;
  }
}

.item {
  display: flex;
  align-items: center;
  position: relative;
  background-color: #f6f6f6;
  font-weight: 500;
  border-radius: 1.3rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  margin: 1rem 1.5rem;
  padding: 1.5rem;

  @media (min-width: 992px) {
    flex: 1;
  }
  &__icon {
    color: #7e7e7e;
    margin-right: 1.5rem;
    &.active {
      color: $primary-color;
    }
  }
  &.active {
    background-color: lighten($primary-color, 33%);
  }
  &::before {
    counter-increment: section 1;
    content: counter(section);
    @extend %flex-center;
    position: absolute;
    left: -10px;
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 100%;
    background: $primary-color;
    color: #fff;
    font-size: 12px;
  }
}

.restaurants-section {
  background-color: #f6f6f6;
  padding: 2rem 1rem;
}
.restaurants {
  max-width: 1440px;
  margin: 0 auto;
  &__title {
    counter-reset: section;
    font-size: 22px;
    font-weight: 700;
    padding: 0.5rem 0;
  }
  &__wrapper {
    @media (min-width: $desktop) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem;
    }
  }

  .restaurant {
    position: relative;
    background-color: #fff;
    border-radius: 1rem;
    margin: 1rem 0;
    @media (min-width: $desktop) {
      margin: 0;
    }
    &__img {
      width: 100%;
      height: 200px;
      border-radius: 1rem 1rem 0 0;
      object-fit: cover;
    }
    &__tag {
      position: absolute;
      inset: 20px 20px auto auto;
      background-color: $tertiary-color;
      color: darken($tertiary-color, 40%);
      border-radius: 5px;
      padding: 0.5rem 0.8rem;
    }
    &__content {
      display: flex;
      justify-content: space-between;
      padding: 1rem 1.5rem;
      p {
        display: flex;
        flex-direction: column;
        font-weight: 300;
        line-height: 1.5rem;
        span {
          font-weight: 500;
        }
      }
    }
  }
}
