.top {
  &__image {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
  }
}

.menus-section {
  position: relative;
  max-width: 1440px;
  margin: -4rem auto 0;
}

.menus {
  width: 100%;
  height: auto;
  background-color: #f6f6f6;
  border-radius: 2rem 2rem 0 0;
  overflow: hidden;
  padding: 1rem;

  &__header {
    @extend %flex-between;
    font-family: $title-font;
    font-size: 25px;
    margin: 1rem 1rem;
    padding-bottom: 1rem;
  }
  &__order {
    @extend %flex-center;
    margin: 0 auto;
    padding: 1rem 0 3rem;
    a {
      @include button(1.15rem 4.5rem);
    }
  }
  &__wrapper {
    @media (min-width: $desktop) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1rem;
    }
  }
}

.menu {
  max-width: 100%;
  overflow: hidden;
  padding: 0 1rem 2rem 1rem;
  &__title {
    position: relative;
    text-transform: uppercase;
    padding-bottom: 0.5rem;

    &::after {
      content: "";
      position: absolute;
      inset: auto auto 0 0;
      width: 40px;
      height: 4px;
      background-color: $tertiary-color;
    }
  }
  &__choices {
    display: flex;
    background-color: #fff;
    border-radius: 0.9rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    margin: 1rem 0;
    overflow: hidden;
    opacity: 0;
    animation: menu-animation 1s forwards;
    cursor: pointer;

    &:hover {
      .menu__check {
        margin-right: 0;
        i {
          animation: rotation-icon 0.7s ease;
        }
      }
    }
  }

  &__text {
    margin: 0;
    padding: 1rem;
    font-weight: 500;
    font-size: 18px;
    flex: 1;
    overflow: hidden;
    h4 {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    p {
      font-weight: 300;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  &__price {
    @extend %flex-end;
    font-weight: 500;
    padding: 1rem;
  }

  &__check {
    @extend %flex-center;
    background-color: $tertiary-color;
    width: 60px;
    margin-right: -60px;
    padding: 1rem;
    transition: 0.4s ease-in-out;

    i {
      background-color: $tertiary-color;
      color: #fff;
      font-size: 20px;
    }
  }
}
