.top {
  &__image {
    max-width: 100%;
    max-height: 500px;
    width: 100%;
    object-fit: cover;
  }
}

.menus-section {
  max-width: 1440px;
  margin: -4rem auto 0 auto;
  position: relative;
}

.menus {
  width: 100%;
  height: auto;
  background-color: #f6f6f6;
  border-radius: 2rem 2rem 0 0;
  overflow: hidden;
  padding: 1rem;

  &__header {
    @extend %flex-between;
    margin: 1rem 1rem;
    padding-bottom: 1rem;
    font-family: $title-font;
    font-size: 25px;
  }
  &__order {
    @extend %flex-center;
    margin: 0 auto;
    padding: 1rem 0 3rem 0;
    a {
      @include button();
      padding: 1.15rem 4.5rem;
    }
  }
  &__wrapper {
    @media (min-width: $desktop) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1rem;
    }
  }
}

.menu {
  max-width: 100%;
  overflow: hidden;
  padding: 0 1rem 2rem 1rem;
  &__title {
    text-transform: uppercase;
    position: relative;
    padding-bottom: 0.5rem;

    &::after {
      content: "";
      width: 40px;
      height: 4px;
      background-color: $tertiary-color;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
  &__choices {
    display: flex;
    background-color: #fff;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
    border-radius: 0.9rem;
    margin: 1rem 0;
    overflow: hidden;
    cursor: pointer;
    animation: menu-animation 1s forwards;
    opacity: 0;

    &:hover {
      .menu__check {
        margin-right: 0;
        i {
          transform: rotate(360deg);
        }
      }
    }
  }

  &__text {
    margin: 0;
    padding: 1rem;
    font-weight: 500;
    font-size: 18px;
    flex: 1;
    overflow: hidden;
    h4 {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    p {
      font-weight: 300;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  &__price {
    @extend %flex-end;
    font-weight: 500;
    padding: 1rem;
  }

  &__check {
    @extend %flex-center;
    padding: 1rem;
    background-color: $tertiary-color;
    width: 3.75rem;

    margin-right: -3.75rem;
    transition: 0.4s ease-in-out;

    i {
      color: #fff;
      background-color: $tertiary-color;
      font-size: 20px;
      transform: rotate(90deg);
      transition: 0.7s ease-in-out;
    }
  }
}
