footer {
  width: 100%;
  background-color: #353436;
  color: #fff;
  padding: 1rem 1.5rem 2rem;

  @media (min-width: $desktop) {
    padding: 2rem;
  }
}

.footer {
  &__logo {
    font-family: $title-font;
    padding: 0.5rem 0;
  }
  &__link {
    font-size: 15px;
    padding: 0.3rem 0;
  }
  &__icon {
    width: 1rem;
    margin-right: 0.5rem;
  }
  @media (min-width: $desktop) {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__links {
      display: flex;
    }
    &__link {
      margin: 0 1rem;
    }
  }
}
